body {
		margin: 0 auto;
}
.main {
	// border: 0.5em solid;
	margin: 0 auto;


}
.square {
	width:6em;
	height: 6em;
	display: flex;
	justify-content: center;
	align-items: center;
    justify-content: center;
}

.center-border {
	border: 0.3em solid lightblue;
}
.tb-border {
	border-top: 0.3em solid lightblue;
	border-bottom: 0.3em solid lightblue;
}

.lr-border {
	border-left: 0.3em solid lightblue;
	border-right: 0.3em solid lightblue;
}
